testing-notebooks


#ignore the __pychache__ directory
__pycache__/

# ignore any log directory
log/

# ignore database directory
database/

# ignore log files
*.log

# ignore .DS_Store files
.DS_Store

# ignore .joblib files
*.joblib